

<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-note color="primary">WeKan2</ion-note>
    </ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-label color="medium">Select board: </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-select id="selectKanbanDdl"   placeholder="Select Kanban" [(ngModel)]="selectedKanbanIndex" [interfaceOptions]="{ cssClass: 'kanban-select' }" (ionChange)="onKanbanSelect(selectedKanbanIndex)">
          <ion-select-option *ngFor="let kanban of kanbans; let i = index" [value]="i">{{ kanban.title }}</ion-select-option>
        </ion-select>
        <ion-button fill="solid" color="primary" (click)="onAddKanban()">
          <ion-icon slot="start" name="add-circle"></ion-icon>Nouveau
        </ion-button>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="kanban-container">
    <app-kanban-board [kanban]="selectedKanban"></app-kanban-board>
  </div>
</ion-content>
