<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-note>Kanban</ion-note>
      {{ selectedKanban.title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-item lines="none">
        <ion-select id="selectKanbanDdl"   placeholder="Select Kanban" [(ngModel)]="selectedKanbanIndex" [interfaceOptions]="{ cssClass: 'kanban-select' }" (ionChange)="onKanbanSelect(selectedKanbanIndex)">
          <ion-select-option *ngFor="let kanban of kanbans; let i = index" [value]="i">{{ kanban.title }}</ion-select-option>
        </ion-select>

      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
  